*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightblue;
    text-align: center;
}

.container{
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
   
   
}

.game{
   height: 60vmin;
   width: 60vmin;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 10px;
   
}

.box{
   height: 18vmin;
   width: 18vmin;
   border: none;
   border-radius: 1rem;
   font-size: 8vmin;
   background-color: aliceblue;
   color: black;
}

button{
   color: white;
   background-color: black;
   padding: 0.5rem;
   border: none;
   border-radius: 0.5rem;
}

.msgContainer{
   height: 15vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   visibility: hidden;
}

p{
   font-size: large;
   font-weight: bold;
}